<!DOCTYPE html>
<html lang="en">

<head>
	<!-- <style>html{visibility:hidden;opacity:0;}</style> -->
	<title>DIVIDE AND CONQUER</title>
	<!-- meta tags -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Black+Ops+One" />
	<link rel="stylesheet" type="text/css" href="../../style.css" />
</head>

<body>
	<p>Header loaded!</p>