<!DOCTYPE html>
<html lang="en">

<head>
	<!-- <style>html{visibility:hidden;opacity:0;}</style> -->
	<title>DIVIDE AND CONQUER</title>
	<meta charset="UTF-8" />
	<link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../style.css">
</head>

<body>
	<p>Header loaded!</p>