/*
	Comment
*/

a { /* Comment */ color: /* Comment */ Red; }

.TestClass {
	color: Black;
	background-color: White;
	text-align: left;
}

body {
	background-color: rgb(210,220,250);
}

h1 {
	font-family: 'Black Ops One', cursive;
	font-size: 5rem;
}