/*
	periwinkle: rgb(210,220,250);
*/


.yellow {
	background-color: yellow;
}

.charcoal {
	background-color: darkgray;
}

.blue {
	background-color: blue;
}

.brown {
	background-color: brown;
}

.white {
	background-color: white;
}


body {
	border: 1px solid darkred; /* TESTING CODE */
	background-color: rgb(210,250,220);
	margin: 0;
	padding: 20px;
}

header {
	border: 1px solid darkblue; /* TESTING CODE */
	width: 100%;
	text-align: center;
}

#enter-info {
	border: 1px solid darkgreen; /* TESTING CODE */
	padding: 20px;
}

#display-results {
	border: 1px solid goldenrod; /* TESTING CODE */
	padding: 20px;
}

h1 {
	font-family: 'Black Ops One', cursive;
	font-size: 5rem;
}
