<% include ./partials/header %>


<div class="container-fluid">

	<div class="jumbotron">
		<h1 class="blackopsone">TRASH TYPES</h1>
	</div>

	<div id="main">

		<section id="display-results">

			<div id="results-here">
				
				<% trash.forEach(function(trash) {%>
					<div class="trashytrash">
						<!-- use h3 class to apply bgd of trash color -->
						<h3 class="trash-name-display">
							<a href="/trash/<%= trash._id %>">
								<%= trash.name %>
							</a>
						</h3>
					</div>
				<% }); %>

			</div>

		</section>

	</div>
</div>


<% include ./partials/footer %>