<% include ./partials/header %>


<div class="container-fluid">

	<div class="jumbotron">
		<h1 class="blackopsone">TRASH TYPES</h1>
	</div>

	<div id="main">

		<section id="display-results">

			<div id="results-here">
				
				<% trash.forEach(function(trash) {%>
					<div class="trashytrash">
						<h3><%= trash.name %></h3>
						<p><%= trash.category %></p>
						<p><%= trash.color %></p>
						<p>Notes: <%= trash.notes %></p>
					</div>
				<% }); %>

			</div>

		</section>

	</div>
</div>


<% include ./partials/footer %>