<% include ./partials/header %>


<div class="container-fluid">

	<div class="jumbotron">
		<h1 class="blackopsone">SHOW PAGE</h1>
	</div>

	<div id="main">

		<section id="trash-item-details">

			<div class="trashytrash">
				<h3><%= trash.name %></h3>
				<p><%= trash.category %></p>
				<p><%= trash.color %></p>
				<p>Notes: <%= trash.notes %></p>
			</div>

		</section>

	</div>
</div>


<% include ./partials/footer %>