<% include ./partials/header %>


<div class="container-fluid">

	<div class="jumbotron">
		<h1 class="blackopsone">SHOW PAGE</h1>
	</div>

	<div id="main">

		<section id="display-results">

			<div id="results-here">
				<p>trashy trash</p>
			</div>

		</section>

	</div>
</div>


<% include ./partials/footer %>